.paginationContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 100px;
  margin: 0 auto;
}

.limitPerView {
  padding: 10px 20px;
  height: 100%;
  width: 150px;
  background: rgb(132, 137, 140);
  border-radius: 4px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.navigationContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  max-width: 100%;
}

.navigationButton {
  padding: 10px 20px;
  background: #1281b8;
  border-radius: 4px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 640px) {
  .paginationContainer {
    margin-top: 10px;
  }
  .navigationContainer {
    margin-right: 20px;
  }
  .limitPerView {
    margin-left: 20px;
  }
}
@media (max-width: 480px) {
  .paginationContainer {
    margin-top: 5px;
  }
  .navigationContainer {
    margin-right: 5px;
    margin-left: 5px;
  }
  .limitPerView {
    margin-right: 5px;
    margin-left: 5px;
  }
}
