body {
  margin: 0;
  padding: 0;
  background: #fafafa;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/* Notification styles */
.notifications-container {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  z-index: 9999;
}

.notification {
  background-color: #4c825b;
  color: white;
  padding: 1px 14px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: solid 3px #396244;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-bottom: 10px;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  top: -20px;
  right: -15px;
}
/* End of Notification styles*/


/* Search bar styles */
.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form-control {
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px 0 0 4px;
  width: 230px;
  outline: none;
}

.btn {
  padding: 8px 16px;
  background-color: #b0c0c8;
  color: #fff;
  border: 1px solid #b0c0c8;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #677278;
  border-color: #636c71;
}
