.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 640px;
}

.moviesTitle {
  font-weight: 700;
  font-size: 55px;
  text-transform: uppercase;
}

.favoritesLink {
  padding: 5px 9%;
  height: 100%;
  background: #b0c0c8;
  border-radius: 4px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.arrowIcon {
  width: 114px;
  height: 20px;
}

.moviesList {
  width: 640px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  max-width: 100%;
}
