.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 640px;
}

.headersTitle {
  font-weight: 700;
  font-size: 55px;
  text-transform: uppercase;
}

.favoritesLink {
  padding: 5px 9%;
  height: 100%;
  background: #b0c0c8;
  border-radius: 4px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.moviesList {
  width: 640px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
}

/* Responsive styles for screens up to 640px wide */
@media (max-width: 640px) {
  .header {
    width: 100%;
  }

  .headersTitle {
    margin-right: 20px;
    margin-left: 20px;
  }

  .favoritesLink {
    margin-right: 20px;
    margin-left: 20px;
  }
}

/* Additional responsive styles for screens up to 480px wide */
@media (max-width: 480px) {
  .header {
    margin: 0 10px;
  }

  .headersTitle {
    font-size: 35px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .favoritesLink {
    margin-right: 5px;
    margin-left: 5px;
  }
}
