.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.moviesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.moviesTitle {
  text-transform: uppercase;
  margin: 0; /* Remove default margin */
}

.favoritesLink {
  background-color: #ccc;
  color: #333;
  padding: 10px;
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.arrowIcon {
  margin-left: 5px;
}
