.listItem {
  /* max-height: 100%; */
  max-height: 150px;
  background: #ffffff;
  box-shadow: inset -4px 0px 0px #b0c0c8;
  border-radius: 3px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.description {
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movieHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.movieTitle {
  font-weight: 700;
  line-height: 17px;
  font-size: 20px;
}

/* Rectangle */
.moviePoster {
  border-radius: 6px;
  max-width: 100%;
  max-height: 100%;
  min-width: 150px;
}

/* Star */
.favoriteButton {
  background: none;
  border: none;
  font-size: 25px; /* Adjust the size as needed */
  cursor: pointer;
  padding: 5px 15px;
}

.goldStar {
  color: gold;
}

.greyStar {
  color: #b0c0c8;
}

@media (max-width: 640px) {
  .listItem {
    margin: 5px 20px;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .listItem {
    margin: 5px 0.5px;
  }

  .movieTitle {
    font-size: 16px;
  }
}
