.listItem {
  max-height: 150px;
  background: #ffffff;
  box-shadow: inset -4px 0px 0px #b0c0c8;
  border-radius: 3px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.movieTitle {
  font-weight: 700;
  line-height: 17px;
  font-size: 20px;
}

.runtime {
  font-weight: 300;
  font-size: 14px;
}

.genres {
  font-size: 12px;
  margin: -10px 0;
  font-weight: 300;
}

.actors {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: -10px;
  color: darkcyan;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  max-height: 50px;
}

.moviePoster {
  border-radius: 6px;
  max-width: 100%;
  max-height: 100%;
  min-width: 150px;
}

.favoriteButton {
  background: none;
  border: none;
  font-size: 25px; /* Adjust the size as needed */
  cursor: pointer;
  padding: 5px 15px;
}

.goldStar {
  color: gold;
}

.greyStar {
  color: #b0c0c8;
}

@media (max-width: 640px) {
  .listItem {
    margin: 5px 20px;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .listItem {
    margin: 5px 0.5px;
  }

  .movieTitle {
    font-size: 16px;
  }

  .description {
    display: none;
  }
}
